# environment variables

# To set non-default values for environment variables, copy this file to .env and set any overriding values.

# Note: any variables already set in the process environment will
# not be overridden by these values.

#DOCKER_IMAGE=approov/demo-approov-io-shapes-api/main

# HTTP port or shared port if behind reverse proxy which terminates HTTPS
#HTTP_PORT=8002

# Redirect HTTP traffic to HTTPS
#ENFORCE_HTTPS=false

# HTTPS_MODE
#   direct             HTTPS terminated at server
#   x-forwarded-proto  HTTPS terminated upstream, HTTPS port, key, cert not used
#HTTPS_MODE=direct

# HTTPS port if used
#HTTPS_PORT=8003

# HTTPS private key, base64 encoded, if used
#HTTPS_KEY=

# HTTPS public cert, base64 encoded, if used
#HTTPS_CRT=

# Enable logging of API calls
#ENABLE_LOGGING=false

# Refuse API calls if true and authorization fails
#ENFORCE_APPROOV=true

# Permit dummy approov tokens that contain the token claim json, of the form: '{"did":"my-device", ...}'
# This makes it much easier to test a local server with curl. It should not be enabled in production.
#ALLOW_DEBUG_TOKENS=false

# The domain(s) served. Only necessary when using docker-compose with Traefik
#PUBLIC_DOMAIN=shapes.demo.approov.io,shapes.approov.io

# The dummy API Key for the v3 endpoint was generated with:
# $ strings /dev/urandom | grep -o '[[:alpha:]]' | head -n 25 | tr -d '\n'; echo
#API_KEY=your_api_key_here

# Approov token signing secret, base64 encoded
# For localhost testing you can use a Postman Collection as per these instructions:
#   https://github.com/criticalblue/demo-approov-io-shapes-api/README.md#postman-collection TODO: Update link
# For deployment get the Approov secret using the Approov CLI:
#   approov secret -get base64
APPROOV_SECRET=your_secret_here
