openapi: 3.1.0
info:
  title: Approov Shapes API
  version: 1.0.0
  description: API for Approov mobile quickstarts.
servers:
  - url: https://shapes.approov.io
paths:
  /hello:
    get:
      operationId: getHello
      summary: Confirm the API connection
      responses:
        '200':
          description: The API is available.
          content:
            text/plain:
              schema:
                type: string
                const: Hello, World!
  /v1/shapes:
    get:
      operationId: getV1Shape
      summary: Get a shape with API-key protection
      parameters:
        - $ref: '#/components/parameters/Quickstart'
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          $ref: '#/components/responses/ShapeResponse'
        '400':
          $ref: '#/components/responses/AccessError'
  /v3/shapes:
    get:
      operationId: getV3Shape
      summary: Get a shape with API-key and Approov-token protection
      parameters:
        - $ref: '#/components/parameters/Quickstart'
      security:
        - ApiKeyAuth: []
          ApproovToken: []
      responses:
        '200':
          $ref: '#/components/responses/ShapeResponse'
        '400':
          $ref: '#/components/responses/AccessError'
  /v5/shapes:
    get:
      operationId: getV5Shape
      summary: Get a shape with optional installation message signing
      description: The server requires a message signature when the valid Approov token contains an `ipk` claim.
      parameters:
        - $ref: '#/components/parameters/Quickstart'
        - $ref: '#/components/parameters/SignatureInput'
        - $ref: '#/components/parameters/Signature'
      security:
        - ApiKeyAuth: []
          ApproovToken: []
      responses:
        '200':
          $ref: '#/components/responses/ShapeResponse'
        '400':
          $ref: '#/components/responses/AccessError'
components:
  parameters:
    Quickstart:
      name: X-Approov-Quickstart
      in: header
      required: false
      description: Client-supplied quickstart identifier for usage metrics.
      schema:
        type: string
        maxLength: 80
    SignatureInput:
      name: Signature-Input
      in: header
      required: false
      description: RFC 9421 signature parameters. Required when the token contains `ipk`.
      schema:
        type: string
    Signature:
      name: Signature
      in: header
      required: false
      description: RFC 9421 request signature. Required when the token contains `ipk`.
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Api-Key
    ApproovToken:
      type: apiKey
      in: header
      name: Approov-Token
  responses:
    ShapeResponse:
      description: A random shape.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Shape'
    AccessError:
      description: The access-control data is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Shape:
      type: object
      required:
        - shape
        - status
      properties:
        shape:
          type: string
          enum:
            - Circle
            - Rectangle
            - Square
            - Triangle
        status:
          type: string
    Error:
      type: object
      required:
        - status
      properties:
        status:
          type: string
