openapi: 3.0.0
servers:
  - description: Approov Shapes Demo Server (v2)
    url: https://shapes.approov.io/v2
info:
  description: A simple API which demonstrates API security using Approov.
  version: "2.0.0"
  title: Approov Shapes API
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
    ApproovAuth:
      type: apiKey
      in: header
      name: Approov-Token
paths:
  /hello:
    get:
      operationId: getHealth
      summary: Checks connection health
      description: No Approov protection is required
      security: []
      responses:
        '200':
          description: Indicates a healthy connection
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                    enum:
                      - Hello, World!
                  status:
                    type: string
                required:
                  - text
                  - status
  /shapes:
    get:
      operationId: getShape
      summary: Requests a shape
      description: Requires a valid Approov token
      security:
        - ApproovAuth: []
      responses:
        '200':
          description: Returns a random shape name
          content:
            application/json:
              schema:
                type: object
                properties:
                  shape:
                    type: string
                    enum:
                      - Circle
                      - Rectangle
                      - Square
                      - Triangle
                  status:
                    type: string
                required:
                  - shape
                  - status
        '400':
          description: Indicates a bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
  /forms:
    get:
      operationId: getForm
      summary: Requests a form
      description: Requires a valid and optionally bound Approov token
      security:
        - BearerAuth: []
          ApproovAuth: []
      responses:
        '200':
          description: Returns a random form name
          content:
            application/json:
              schema:
                type: object
                properties:
                  form:
                    type: string
                    enum:
                      - Box
                      - Cone
                      - Cube
                      - Sphere
                  status:
                    type: string
                required:
                  - form
                  - status
        '400':
          description: Indicates a bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
